<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% if(data.length){%>
<% data.forEach(data=>{%>

    <p><%= data.cont %></p>
    <p><%= data.TotalConfirmed %></p>
    <p><%= data.TotalDeaths %></p>
    <p><%= data.TotalRecovered %></p>
    <p><%= data.Date %></p>
<form action="/delete/<%= data.id %>?_method=delete " method="post">

<input type="submit" value="delete"></form>
<%})%>

        <%}else{%>

            <p>you have no data yet</p>
<%}%>

</body>
</html>